<h1>記事編集ページ</h1>
<%= form_for @article do |f| %>
    <div>
        <div>
            タイトル：<%= f.text_field :title %>
        </div>
    
        <div>
            記事の内容：<%= f.text_field :body %>
        </div>
    
        <div>
            著者：<%= f.text_field :author %>
        </div>

        <%= f.submit "登録する" %>
  </div>
<% end %>